/* Sidebar Base Style */
.sidebar {
  height: 100vh;
  width: 250px;
  background-color: #303030;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-left: 15px;
  transition: transform 0.5s ease, width 0.5s ease;
  box-shadow: 3px 0 10px rgba(92, 92, 92, 0.5);
  filter: drop-shadow(4px 0px 4px rgba(0, 0, 0, 0.5));
}

/* Hide sidebar */
.hidden {
  transform: translateX(-230px);
}

/* Toggle button */
.toggleButton {
  position: fixed;
  top: 27px;
  left: 235px; /* Normal position when sidebar is visible */
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 2;
  transition: left 0.5s ease;
}

/* Poke out when sidebar is hidden */
.pokedOut {
  left: 0; /* Move to the edge of the screen */
  transform: translateX(-50%); /* Center it on the screen edge */
}

/* Toggle icon */
.toggleIcon {
  width: 24px;
  height: 24px;
}

.nav a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 10px 0px;
  font-size: 16px;
}

/* Side panel text styling */
.sidebar h2, .sidebar p {
  color: white;
  padding: 10px 20px;
}

/* Add hover effect for menu items */
.nav a:hover {
  background-color: #313131;
  cursor: pointer;
}

/* Profile Section */
.profileSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-top: 360px;
  border-top: 1px solid #333;
  color: white;
}

.profileImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.username {
  font-size: 14px;
  text-align: center;
}
